body {
  margin: auto;
}

p {
  float: right;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top:30px;

}

.logo {
  width: 10%;
  height: auto;
  float: left;
  margin-left: 40px;
}

.header {
  background-color: #194f87;
  width:100%;
  height: 130px;
  position: fixed;
  margin: auto;
  z-index: 1;
}

.back-container {
  width: 100%;
top:130px;
position: relative;


}

.back {
  width: 100%;
  margin: auto;
  position: absolute;



}
.main-title{
position: relative;
top:90px;

}

h1 {
  text-align: center;
  font-family: 'Playball', cursive;
  width: 450px;
  top:400px;
  color: white;
  font-size: 70px;
  margin: auto;

}

h2 {
  text-align: center;

  font-family: 'Josefin Sans', sans-serif;

  color: white;

}

.button1 {
  position: relative;
  text-align: center;
  margin: auto;

  color: white;
  font-family: 'Actor', sans-serif;
  border: 2px solid;
  border-color: white;
  padding: .85em 1.5em;
  width: 60px;
  letter-spacing: 2px;

}

.bottom {
  width: 100%;
  background-color: #194f87;
  height: 600px;
  position: relative;
  top: 400px;


}

.button2 {
  position: relative;
  text-align: center;
  font-size: 15px;
  left: 40px;
  top: 40px;
  color: white;
  font-family: 'Actor', sans-serif;
  border: 2px solid;
  border-color: white;
  padding: .85em 1em;
  width: 250px;
  letter-spacing: 2px;


}

.title2 {
  color: white;
  font-family: 'Actor', sans-serif;
  font-size: 15px;
  float: right;
  width: 60%;
  right: 10px;
  margin: auto;
}

hr {
  clear: both;
  border: 1px solid #164576;
  width: 90%;
  margin-top: 50px
}

.bottom2 {
  display: table;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.pizza {
  height: 60%;
  width: 35%;


}

.text2 {
  float: right;
}

.title3 {
  color: #d5d5d5;
  font-family: 'Playball', cursive;
  font-size: 35px;
  margin: auto;
}

h4 {
  color: #d5d5d5;
  font-family: 'Actor', serif;
  text-align: justify;
  width: 500px;
  line-height: 1.8;
}

.button3 {
  position: relative;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: 'Actor', sans-serif;
  border: 2px solid;
  border-color: white;
  padding: .85em 1em;
  width: 150px;
  letter-spacing: 2px;
  z-index: -1;
  margin: auto;
}

.footer {
  margin: auto;
  width: 100%;
  background-color: #333333;
  height: 150px;
}

.icons {
  position: relative;
  left: 80px;
  top: 50px;
}
 h5{
  margin-right:50px;
   float: right;
   color: #d5d5d5;
   font-family: 'Actor', sans-serif;
 }
 @media only screen and (max-width:600px){
   body{
     background-color: green;
   }
   h2,.title{
     font-size:50%;
   }
 }
